params {
     //  for generating star index in pipeline
    fasta = "/vast/scratch/users/lee.sa/ensembl108/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    star_genome = "/vast/scratch/users/lee.sa/star_genome" // for ~permanent~ store of star genome
    
    // Options for 
    gtf = "/vast/scratch/users/lee.sa/ensembl108/Homo_sapiens.GRCh38.108.chr.gtf"
    gtf_attr = "exon_id"
    gtf_featureType = "exon"
    
    // gtf = "/vast/scratch/users/lee.sa/ensembl108/gencode.v42.basic.annotation.gtf"

    project = "SRP063355"
    reads = "/vast/scratch/users/lee.sa/${params.project}/fastq/SRR*_{1,2}.fastq"   
}